*{
    padding: 0;
    margin: 0;
}

html body{

}

#ad{
    position: absolute;
    width:auto;
    z-index: 100;
    display: block;
}

#ad img {
    max-width: 100%;
}

#nav{
    background: #333;
    height: 50px;
    width: 100%;
}