*{
    padding: 0;
    margin: 0;
}

.news_mian{
    font-size: 1em;
    font-family: "Microsoft YaHei", Î¢ÈíÑÅºÚ, "MicrosoftJhengHei", »ªÎÄÏ¸ºÚ, STHeiti, MingLiu, sans-serif;
    color: black;
    padding: 5% 5%;
}

.news_title{
    width: 100%;
    font-size: 1.5em;
    font-family: "Microsoft YaHei", Î¢ÈíÑÅºÚ, "MicrosoftJhengHei", »ªÎÄÏ¸ºÚ, STHeiti, MingLiu, sans-serif;
    color: black;
    padding: 0 5%;

}