*{
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 300;
}

.news{
    margin-top: 1%;
    float: left;
    width: 50%;
    height: 200px;
    background: white;
}

.news_main{
    width: 98%;
    height: 98%;
    margin: 0 auto;
    /*background: #567;*/
}

.news_photo{
    background: #322;
    height: 70%;
    width: 100%;
}

.news_title{
    height: 30%;
    color: black;
    font-family: "Microsoft YaHei", Î¢ÈíÑÅºÚ, "MicrosoftJhengHei", »ªÎÄÏ¸ºÚ, STHeiti, MingLiu, sans-serif;
    font-size: 1.1em;
    padding: 2% 3%;
}

img{
    width: 100%;
    max-width: 100%;
}