*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #333;
}

.news_mian{
    font-size: 1.05em;
    line-height: 160%;
    font-family: "Microsoft YaHei", Î¢ÈíÑÅºÚ, "MicrosoftJhengHei", »ªÎÄÏ¸ºÚ, STHeiti, MingLiu, sans-serif;
    color: #999999;
    width: 100%;
    font-weight: lighter;
    text-align:justify;
    text-indent: 2em;
    filter:dropshadow(offx=3,offy=0)
}

.news_title h1{
    font-size: 1em;
    margin-left: 3%;
    margin-right: 3%;
    line-height: 100%;
}

.news_mian h3{
    margin-left: 3%;
    margin-right: 3%;
    text-indent: 0;
    margin-bottom: 5%;
}

.jz_photo{
    float: left;
    position: relative;
    display: block;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: solid 2px #999;
    background: #999;
    margin-left: 3%;
    margin-right: 2%;
    top: -3px;
}

.jz_photo img{
    position: absolute;
    max-width: 100%;

}

.news_title{
    width: 100%;
    font-size: 2em;
    font-family: "Microsoft YaHei", Î¢ÈíÑÅºÚ, "MicrosoftJhengHei", »ªÎÄÏ¸ºÚ, STHeiti, MingLiu, sans-serif;
    color: #999;
    font-weight: 600;
    margin-bottom: 20px;
}

#nav{
    position:relative;
    width: 100%;
    height: 40px;
    border-bottom: solid 1px #999;
    margin-bottom: 20px;
    margin-top: 30px;
    /*background: #879;*/
}

.nav_header{
    position:absolute;
    width: 100%;
    height:26px;
    line-height: 26px;
    top: 50%;
    margin-top: -13px;
    /*background: #898;*/
    text-align: left;
    overflow:hidden;
}

.nav_header p{
    font-size: 1em;
    font-weight: 600;
    font-family: "Microsoft YaHei", Î¢ÈíÑÅºÚ, "MicrosoftJhengHei", »ªÎÄÏ¸ºÚ, STHeiti, MingLiu, sans-serif;
    color: #999;
    padding-left: 10px;
}

#footer{

}

/*ÐÂÔö*/

.class1 h2 {
    font-family: "Microsoft YaHei", Î¢ÈíÑÅºÚ, "MicrosoftJhengHei", »ªÎÄÏ¸ºÚ, STHeiti, MingLiu, sans-serif;
    font-size: 1.6em;
    text-align: left;
    font-weight: bolder;
    background: #333;
    padding-left: 3%;
    color: #999;
}

.class1 {
    width: 100%;
    background: #333;
    position: relative;
    margin: 0 auto;
    padding: 5px;
}

.class1 span {
    position: absolute;
    right: 10px;
    top: 8px;
    cursor: pointer;
    color: yellow;
}

.class1 li {
    font-size: 1.05em;
    line-height: 160%;
    font-family: "Microsoft YaHei", Î¢ÈíÑÅºÚ, "MicrosoftJhengHei", »ªÎÄÏ¸ºÚ, STHeiti, MingLiu, sans-serif;
    width: 100%;
    font-weight: lighter;
    text-align:justify;
    text-indent: 2em;
    filter:dropshadow(offx=3,offy=0);
    background: #333;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    margin-top: 5%;
    color: #999
}

.class1 img{
    max-width: 100%;
}

#class1content, #class2content, #class3content {
    height: auto;
    overflow: hidden;
    display: none;
}

#stateBut1{
    background: url("/static/img/io/i-down.png");
    background-color: white;
}